<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639190595200-5cf8h6ppnq9bh2l5neb8dmqsn7l06jl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639190595200-5cf8h6ppnq9bh2l5neb8dmqsn7l06jl8</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Iy2z2rLUSNDpWMqD0mB3A_bZ5Xwi2TI</string>
	<key>GCM_SENDER_ID</key>
	<string>639190595200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authenticationFirebase</string>
	<key>PROJECT_ID</key>
	<string>authtest-5562c</string>
	<key>STORAGE_BUCKET</key>
	<string>authtest-5562c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639190595200:ios:e5c1dd508b8791e31b5865</string>
</dict>
</plist>